.myInfoStyle {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;

    .myInfoContainer {

        width: 100%;

        .myInfoTitle {
            @media screen and (min-width: 768px) {        
            font-size: 40px;
            }
            font-size: 34px;
            font-weight: 600;
            color: #ffffff;
            width: 100%;
            text-transform: uppercase;
        }
        .myInfoContent {
            font-size: 22px;
            font-weight: 400;
            color: #343a40;
            margin-top: 10px;
            width: 100%;

            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
                gap: 20px;
            }

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            gap: 30px;

            .myInfoItem{
                display: block;
                width: 100%;
                padding: 20px;
                word-break: break-all;
                
                .myInfoItemTitle {
                    font-size: 24px;
                    font-weight: 600;
                    color: #646566;
                }
                .myInfoItemContent {
                    font-size: 22px;
                    font-weight: 400;
                    color: #ffffff;
                }
            }
        }
    }
}